html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.select {
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 7px 0px;
    color: white;
    text-align: center;
    cursor:pointer;
}

.colory{
    background-color:red;
}
.Day {
    width: 14.28%;
    border-right: 1px solid #00000061;
}